.button {
    -fx-background-color: lightblue;
    -fx-border-radius: 0;
    -fx-border-width: .5;
}

.button:hover {
    -fx-background-color: aqua;
}

.button:disabled {
    -fx-opacity: 1;
}

#special-button {
    -fx-background-color: lightcyan;
    -fx-border-width: 3;
}

#special-button:disabled {
    -fx-background-color: red;
}

#special-button:pressed {
    -fx-background-color: red;
}

#lame-button {
    -fx-background-color: lightcyan;
    -fx-border-color: lightblue;
    -fx-font-size: 50;
}

#lame-button:hover {
    -fx-background-color: orange;
    -fx-cursor: hand;
}